<head>
	<link href="__PUBLIC__/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<style>
	.addproject{
		font-size:17px;
		line-height: 17px;
		padding-top:20px;
		background: #ababab;
		padding:5px;
		box-shadow: 1px 1px 5px #111;
		border-radius: 2px 2px 2px 2px;
		width:100%;
	}	
	.block_project{
		margin:20px 5px 5px 5px;
		box-shadow: 1px 1px 3px #666;
		height:200px;
		padding-left:5px;
		padding-right: 5px;
		padding-top:3px;
		border-radius: 50px 2px 5px 2px;
		background: #BCFF9E;
	}
	.title{

	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		$("#addproject").on('click',function(event) {
			addProject();
		});
		//删除项目
		$(".del_project").on('click', function(event) {
			var id=$(this).parent().find("#project_id").val();
			delProject(id);
		});
	});
	function addProject(){
		var intro=$("#input_intro").val();
		var finishtime=$("#input_date").val();
		var name=$("#input_name").val(); 
		$.ajax({
			url: '__MODULE__/Control/doAddProject',
			type: 'post',
			data: {'name':name,'intro':intro,'finishtime':finishtime},
		})
		.done(function(re) {
			console.log("success");
			if(re=="success"){
				$("#input_intro").val("");
				$("#input_date").val("");
				location.reload();

			}else if(re=="exist"){
				alert("该项目已经存在");
			}else{
				alert("添加失败");
			}
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
		
	}
	function delProject(id){
		$.ajax({
			url: '__MODULE__/Control/doDelProject',
			type: 'post',
			data: {'id': id},
		})
		.done(function(re) {
			console.log("success");
			if(re=="success"){
				location.reload();
			}else{
				alert("删除失败");
			}
		})
		.fail(function() {
			console.log("error");
		})
		.always(function() {
			console.log("complete");
		});
	}
</script>
</head>
<!-- 添加项目 -->
<div class="addproject">
	<form class="text-center form-inline" action="" method="post">	
		<input type="button" id="addproject" class="btn btn-primary" value="添加">
		<div class="form-group">
			<label for="" class="sr-only"></label>
			<input name="name" id="input_name" class="form-control" placeholder="项目名称">	
		</div>
		
		<div class="form-group">
			<label for="" class="sr-only"></label>
			 <input name="intro" id="input_intro" class="form-control" placeholder="项目简介" style="min-width:360px">
		</div>
		<!-- 日期 -->
		<div class="form-group">
            <label for="dtp_input2" class=""></label>
            <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">

            <input class="form-control" id="input_date" size="10" type="text" name="finishtime" placeholder="日期" readonly>
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
			<input type="hidden" id="dtp_input2" value="" ><br/>
        </div>
	</form>
</div>
<!-- 显示项目 -->
<div class="controlproject">
	<volist name="projectlist" id="vo">
		<div class="col-md-4">
			<div class="block_project">
				<div class="title text-right text-info">
					项目=>{$vo.name}
					<input type="hidden" id="project_id" value="{$vo.id}">
					<span class="del_project btn btn-danger btn-sm">删除</span>
				</div>
				&nbsp;&nbsp;{$vo.introduce}
			</div>
		</div>
		
		
	</volist>
</div>
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="__PUBLIC__/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
	$('.form_date').datetimepicker({
        language:  'zh-CN',
        format:'yyyy-mm-dd',
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });

</script>